.pendaftaran {
  background-color: #28abe3;
  padding: 40px 60px;
  border-radius: 8px;
}
.transaksi {
  background-color: #fb6648;
  padding: 40px 60px;
  border-radius: 8px;
}
.pengeluaran {
  background-color: #6648fb;
  padding: 40px 60px;
  border-radius: 8px;
}
.back-up {
  background-color: #8b780e;
  padding: 40px 60px;
  border-radius: 8px;
}
.pengambilan {
  background-color: #9b59b6;
  padding: 40px 60px;
  border-radius: 8px;
}
.stok {
  background-color: #daa520;
  padding: 40px 60px;
  border-radius: 8px;
}
.pasangan {
  background-color: #03396c;
  padding: 40px 60px;
  border-radius: 8px;
}
.laporan {
  background-color: #7bb606;
  padding: 40px 60px;
  border-radius: 8px;
}

a {
  text-decoration: none;
}
th,
td {
  font-size: 13px;
  font-weight: 400;
}
td .btn-link {
  font-size: 13px;
  font-weight: 400;
  padding: 0;
}
table {
  border-radius: 6px;
  border: 1px solid black;
}
.dropdown-toggle {
  border: 1px solid #dee2e6;
  border-radius: 0px;
}
.data-pasien {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #dee2e6;
}
.jumlah {
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
    0px 4px 8px -2px rgba(16, 24, 40, 0.1);
}
.btn-action {
  padding: 0px;
}
.box-card {
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 8px 4px -2px rgba(16, 24, 40, 0.06);
}
.pendaftaran-pasien {
  gap: 4px;
}
.breadcrumb {
  background-color: #ececec;
  padding: 8px 14px;
  border-radius: 8px;
  width: fit-content;
}
.breadcrumb a {
  color: #146c43;
  font-weight: 600;
}
#transaction {
  min-height: 200px;
}
